<div class="container">
  <div class="row">
    
    <h1>외부 json 파일 업로드 공간입니다..</h1>
    <div class="row">
      방법을 찾지 못했습니다. 나중에 미친듯이 디버깅하며 진행해봐야 할 것 같습니다.
      당분간은 c9 & git거쳐 직접 올리는 방법으로 시행하도록합니다.
      <!--<form action="/home/uploading_json" method="POST" enctype="multipart/form-data">-->
      <!--  <div class="form-group">-->
      <!--    <label for="exampleInputFile">File input</label>-->
      <!--    <input name="jsonfile" type="file" id="exampleInputFile">-->
      <!--  </div>-->
      <!--  <button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      
    </div>
  </div>
</div>