<div class="container">
  <div class="row">
    
    <h1>mandal 모델 -> json 저장에 성공하였습니다.</h1>
    <a href="/home/manager_mandaldown">mandal.json download</a><br>
    
    /home/write_json_backup.html 가시고 싶겠만 그.전.에.<br>
    rake db:drop 하시기 전에 반드시 지금 페이지를 들러주세요!<br>
    rake db:drop 안하고 이동하면 당연히 터집니당. 있는걸 복구하려는 꼴.<br>
    하시고 난 후 유저를 생성해주세요. 안그럼 빵빵 터집니다. 아니, 걍 자동생성되도록 할께요. <br>
    
    suggest랑 reply랑 expireds도, user도 복구해주세요!
    
  </div>
</div>